
body {

	margin-top: 50px;

	margin-bottom: 350px;

	text-align: center;

	background : goldenrod;

	background: linear-gradient(45deg, rgba(20, 100, 200, 0.9), rgba(215, 30, 225, 0.5), rgba(250, 200, 100, 0.9));

	font-size  : 36;

	color:  white;

	font-family: sans-serif;
}

button{

	border-color: transparent;
}

input{

	border-color: transparent;
}

p{
 
 font-family: Arial, Helvetica, sans-serif;


}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	animation: smallupdown 3s infinite;
	margin-bottom: 100px;
}


h3{
	/*text-align: center;*/
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;
	margin-left: 200px;
	margin-right:200px;
	margin-bottom: 350px;

}


#sun{
	animation: updown 20s infinite;
}


@keyframes smallupdown {
  0% {
    transform: translateX(-1%);
  }

  50% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(-1%);
  }