
body {

	margin-top: 50px;

	margin-bottom: 350px;

	text-align: center;

	background : goldenrod;

	background: linear-gradient(45deg, rgba(20, 100, 200, 0.9), rgba(215, 30, 225, 0.5), rgba(250, 200, 100, 0.9));

	font-size  : 36;

	color:  white;

	font-family: sans-serif;
}

button{

	border-color: transparent;
}

input{

	border-color: transparent;
}

p{
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;


}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	animation: smallupdown 3s infinite;
	margin-bottom: 50px;
}


h3{
	/*text-align: center;*/
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;
	margin-left: 375px;
	margin-right:200px;
	margin-bottom: 350px;
	background-color: rgb(209, 152, 255);
  	width: 500px;
  	border: 15px solid rgb(255, 255, 255);
  	padding: 50px;

}

#sib{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

#col{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

#birth{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
#job{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

#zodiac{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

#crush{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
#kids{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

#location{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
#hobby{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
#happy{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

@keyframes smallupdown {
  0% {
    transform: translateX(-1%);
  }

  50% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(-1%);
  }